.expandedProfile {
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px var(--card-box-shadow-color);
    border-radius: 15px;
    margin: 10px auto;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    overflow-y: auto;
    font-family: 'Times New Roman', Times, serif;
}

/* profileInfo */

.profileInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profileInfo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profileInfo h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.profileInfo .position{
    font-size: 15px;
    margin-bottom: 4px;
    font-style: italic;
}

.profileInfo .company {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 550;
}


/* nots */

.notes {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.newNote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.newNote textarea {
    min-height: 50px;
}

.noteList {
    display: flex;
    flex-direction: column;
}

.noteList p {
    margin: 0;
}

.noteList ul {
    margin-top: 5px;
    padding: 0;
}

.note {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-left: 10px;
    position: relative;
}
.note::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--text-color);
    opacity: 0.7;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.note p {
    margin: 0;
    font-size: 14px;
    height: auto;
}


.deleteButton {
    background: none !important;
    border: none;
    margin-right: 3px;
    color: var(--delete-button-background-color);
}

.deleteButton:hover {
    color: var(--delete-button-hover-background-color);
}


/* messages */

