.wrapper {
    width: 100%;
    max-width: 400px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

nav {
    width: 100%;
    max-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}


nav img {
    width: 160px;
    height: 80px;
    margin-right: 10px;
}

.settingsButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-color) !important;
    text-decoration: none;
    margin-left: auto;
    margin-right: 10px;
}

.settingsButton:hover {
    text-decoration: underline;
    background: none;
    transition: none;
}

.mainButton button{
    font-size: 18px;
}




.profileList {
    margin-top: 20px;
}


.profileCard {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    box-shadow: 0 2px 4px var(--card-box-shadow-color);
    border-radius: 10px;
    padding: 10px 5px;
    margin-bottom: 20px;
}

.profileData {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    height: 100px;
}

.profileData .profileImage {
    height: 100%;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.profileData .profileImage img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto;
}

.profileData .profileInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
}

.profileData .profileInfo .profileHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profileData .profileInfo h3 {
    font-size: 16px;
    padding-right: 10px;
}

.profileData .profileInfo a {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.profileData .profileInfo a:hover {
    color: var(--button-hover-background-color);
}

.profileData .profileInfo p {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

/* buttons */

.profileCard .profileActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.profileActions button {
    margin: 0 5px;
}

.profileActions .deleteProfileButton {
    background-color: var(--delete-button-background-color);
}

.profileActions .deleteProfileButton:hover {
    background-color: var(--delete-button-hover-background-color);
}