.container {
    width: 100%;
    max-width: 400px;
    height: 100%;
    min-height: 100vh;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

/* dark mode */
section.darkMode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.toggleContainer {
    position: relative;
}

.toggleCheckbox {
    display: none;
}

.toggleLabel {
    width: 60px;
    height: 30px;
    background-color: #f39c12;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.toggleLabel .toggleIcon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: transform 0.3s;
}

.toggleCheckbox:checked+.toggleLabel {
    background-color: #2c3e50;
}

.toggleCheckbox:checked+.toggleLabel .toggleIcon {
    transform: translateX(30px);
}

.toggleLabel .toggleIcon::before {
    content: '☀️';
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
}

.toggleCheckbox:checked+.toggleLabel .toggleIcon::before {
    content: '🌙';
}

/* user info */
section.user {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

section.user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section.user h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}

.position {
    font-size: 14px;
    margin-bottom: 4px;
}

.company {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 550;
}

.education {
    font-size: 16px;
    margin-bottom: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

/* edit data */

.editInfo{
    margin-bottom: 10px;
}


.editPopup {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editForm {
    margin-bottom: 20px;
}

.editForm .imageUpload {
    text-decoration: underline;
    font-size: 0.85rem;
    padding: 10px;
    margin-bottom: 10px;
    background-color: none;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    transition: color 0.3s ease;
}

.editForm .imageUpload:hover {
    color: var(--button-hover-background-color);
    text-decoration: none;
}

.editForm .imageUploadButton {
    display: none;
}

.editForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--text-color);
    font-size: 14px;
}


.editForm .submitForm {
    margin-top: 10px;
}

/* API Key */

.apiKey {
    margin-top: 10px;
    margin-bottom: 15px;
}

.apiKeyContainer {
    display: flex;
    align-items: center;
}

.apiKeyLabel,
.apiKeyInput {
    flex: 1;
    margin-right: 10px;
}

.apiKeyLabel {
    display: block;
    padding: 10px;
    border: none ; 
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.apiWarning {
    color: crimson;
    margin-top: 10px;
}

.showButton{
    background: none !important;
    border: none;
    margin-right: 3px;
    color: var(--text-color)
}



/* close button */

.closeButton {
    width: 70%;
    margin-top: 25px;
    margin-bottom: 20px;

}

